.cartItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  .image {
    width: 100px;
  }
  .title {
    font-size: 20px;
  }
  .price {
    font-size: 18px;
    margin-right: 10px;
  }
  button {
    display: block;
    margin-top: 10px;
  }
}